html, body {
  font-family: Arial, sans-serif;
  background-image: url('../breakfast.jpg');
  background-size: cover;
  background-color: #fff;
  height: 100%;
  width: 100%;
}

h1 {
  font-family: Georgia, serif;
  font-size: 72px;
  color: white;
}

.vert-align {
  padding-top:20%;
  height:50%;
}

.logo-btn {
  text-transform: uppercase;
  font-family: Georgia, serif;
  border-radius: 0;
  border: 3px solid;
  text-align: center;
  background-color: none;
}

.btn-info {
  text-transform: uppercase;
  font-size: 14px;
  margin: 20px;
}

.navbar-fixed-top {
  text-transform: uppercase;
  color: white;
  text-decoration: none;
}

.navbar-fixed-top a {
  color: white;
}

.navbar-fixed-top a:hover {
  text-decoration: none;
  color: white;
}

.navbar-fixed-bottom {
  color: white;
}

.navbar-fixed-bottom a {
  color: lightgray;
}