html, body {
  font-family: Arial, sans-serif;
  background-image: url('../breakfast.jpg');
  background-size: cover;
  background-color: #fff;
  height: 100%;
  width: 100%;
}

h1 {
  font-family: Georgia, serif;
}

.vert-align {
  padding-top:20%;
  height:50%;
}

.logo-btn {
  font-family: Georgia, serif;
  border-radius: 0;
  border: 3px solid;
  text-align: center;
}